<head>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<style>
    li {
        list-style: none;
    }
</style>
<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div class="box" style="margin-top:5%">
                <div class="float">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center" asp-validation-summary="ModelOnly"></div>
                        </div>
                    </div>
                    <form class="form" method="post" asp-action="AdminRegister" asp-controller="Account">
                        <h1>Admin Üyeliği</h1>
                        <div class="form-group">
                            <label for="Email" class="text-black">E-Posta Adresiniz</label><br>
                            <input type="text" name="Email" id="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="UserName" class="text-black">Kullanıcı Adı</label><br>
                            <input type="text" name="UserName" id="UserName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Password" class="text-black" >Parolanız <span id="gg" class="btn btn-primary"onclick="TypChange()">Göster</span></label><br>
                            <input  type="Password" name="Password"  id="Pwd" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="text-black">Parolayı Tekrarla</label><br>
                            <input type="Password" name="ConfirmPassword" id="ConfirmPassword" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="FirstName" class="text-black">Ad</label><br>
                            <input type="text" name="FirstName" id="FirstName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="LastName" class="text-black">Soyad</label><br>
                            <input type="text" name="LastName" id="LastName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber" class="text-black">Telefon Numarası</label><br>
                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-md" value="Giriş">
                        </div>
                    </form>
                    <script>
                        function TypChange() {
                            var gg = document.getElementById("gg");
                            var element = document.getElementById("Pwd");
                            if (element.type == 'text') {
                                element.type = 'Password';
                                gg.innerText = "Göster";
                            }
                            else {
                                element.type = "text";
                                gg.innerText = "Gizle";
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>