@{
    ViewData["Title"] = "Home Page";
}

        <div class="text-center" style="margin-top:15%">
          <h1 class="display-4">HOŞGELDİNİZ  </h1>
            <h5 class="display-4"><a href="https://www.linkedin.com/in/1hakansahin/">minisepetim.com</a> adresini tercih ettiğiniz için teşekkür ederiz.</h5>
            <p>İletişim için <a href="https://www.linkedin.com/in/1hakansahin/"> tıklayınız.</a>.</p>
            
        </div>


